.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// margin: 2% 2%;
	// background:red;
	background:linear-gradient(to left, rgb(101, 78, 163), rgb(234, 175, 200));
	object-fit: cover;
	min-height: 100vh;
	position: relative;

}

